    body {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .selected {
        border: 3px solid grey;
        background-color: #1F2937;
        color: white;
        font-weight: 700;
      }